<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>I will make your heauen ouer you as iron, and your earth as braffe. v ” - Astouching the Hebrew word which wee haue trandome) that they had prouoked Gods wrath againft|to paffe</p>
        {{> footer}}
    </body>
</html>